.skills-grid {
    display: grid;
    grid-template-columns: 300px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

.button-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 30px;
}

.skill-card {
    box-sizing: border-box;
    border: black solid 2px;
    width: 200px;
    padding-left: 40px;
    margin-top: 4px;
}

.skill-link {
    text-decoration: none;
}
    .skill-name {
        font-weight: 900;
        font-size: 20px;
        color: green;
    }
    .skill-level {
        font-weight: 600;
        color: black;
    }
    .skill-xp {
        font-weight: 300;
        color: grey;
    }
