{% extends 'base.html' %}

{% block imports %}

<link rel='stylesheet'  href="{{ url_for('.static', filename='css/skills/index.css') }}">

{% endblock imports %}

{% block content %}

<a href={{ url_for('skill_bp.xp_rewards') }}>Show XP Table</a>

<div class="columnbox">
    <!-- SESSIONS LISTING -->
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            {% for session in skill_sessions | sort(attribute='date', reverse=True) %}
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.xp}}</td>
                    <td>{{session.topic}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- SKILLS LISTING -->
    <div class="skills-list">
        {% for skill_name, skill_object in skills.items() %}
        <div class="skill-card">
            <a class='skill-link' href={{ url_for('skill_bp.skill_page', skill_name=skill_name) }}>
                <p class="skill-name"> {{skill_object.name}} </p>
                <p class="skill-level"> Lv {{ skill_object.lv }} </p>
                <p class="skill-xp"> {{ skill_object.xp }} xp </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

    <!-- FORM TO ADD SKILLS -->
    <form class="skill-form" action='{{ url_for('skill_bp.index') }}' method="post">
        {{ form.csrf_token }}
        {% for field in form if field.id != 'csrf_token' %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="add skill">
    </form>

{% endblock content %}
