{% extends 'base.html' %}

{% block content %}
    <!-- SKILL INFO -->
    <h2>{{skill.name}}</h2>
    <p>Lv {{skill.lv}} - XP {{skill.xp}}</p>
    <hr>

    <!-- SESSIONS LISTING -->
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            {% for session in skill_sessions | sort(attribute='date', reverse=True) %}
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.xp}}</td>
                    <td>{{session.topic}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr class="form-break">

    <!-- SESSION FORM -->
    <h3>Add a session and earn some XP</h3>
    <form class="session-form" action={{ url_for('skill_bp.skill_page', skill_name=skill_name) }} method="post">
            {{ form.csrf_token }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                <br>
            {% endfor %}
            <input type="submit"  value="get that xp!">
    </form>

{% endblock content %}
