{% extends 'base.html' %}

{% block content %}

    <!-- SESSIONS LISTING -->
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            {% for session in skill_sessions %}
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.xp}}</td>
                    <td>{{session.topic}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- SKILLS LISTING -->
    <div class="skills-list">
        {% for skill_name, skill_object in skills.items() %}
            <div class="skill-card">
                <a href={{ url_for('skill_bp.skill_page', skill_name=skill_name) }}>
                     <p>{{skill_object.name}}</p>
                 </a>
                 <p><b>Lv {{ skill_object.lv }}</b></p>
                 <p>{{ skill_object.xp }} xp</p>
                <hr>
            </div>
        {% endfor %}
    </div>

    <!-- FORM TO ADD SKILLS -->
    <form class="skill-form" action='{{ url_for('skill_bp.index') }}' method="post">
        {{ form.csrf_token }}
        {% for field in form if field.id != 'csrf_token' %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="add skill">
    </form>

{% endblock content %}
