{% extends 'base.html' %}

{% block content %}

    <!-- SESSIONS LISTING -->
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            {% for session in sessions %}
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.xp}}</td>
                    <td>{{session.topic}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- SKILLS LISTING -->
    <div class="skills-list">
        {% for skill in skills %}
            <div class="skill-card">
                <a href={{ url_for('skill.skill_page', skill_index=loop.index0) }}>
                     <p>{{skill.name}}</p>
                 </a>
                <h3>Lv {{ skill.lv }}</h3>
                <hr>
            </div>
        {% endfor %}
    </div>

    <!-- FORM TO ADD SKILLS -->
    <form class="skill-form" action='{{ url_for('skill.index') }}' method="post">
        {{ form.csrf_token }}
        {% for field in form if field.id != 'csrf_token' %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="add skill">
    </form>

{% endblock content %}
