<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Skill</title>
    </head>
    <body>
        <nav>
            <div class="nav-items">
                <a href={{ url_for('skill.skills_history_overview')}}>XP</a>
                <a href="#">ZK</a>
                <a href="#">QPPP</a>
                <a href="#">QR</a>
            </div>
            <hr class='nav-hr'>
        </nav>

        {% block content  %}
        <p>this will be overriden</p>
        {% endblock content  %}
    </body>
</html>
