{% extends 'navbar.html' %}

{% block content %}
    <div class="figure box">
        <a href={{ url_for('skill.skills_history_overview')}}>Historic View</a>
    </div>
    <div class="skills-list">
        <div class="skill-card">
            <a href={{ url_for('skill.skill_page_historic', skill='js')}}> <p>JS</p> </a>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>

        <div class="skill-card">
            <p>JS</p>
            <hr>
            <h1>Lv10</h1>
        </div>
    </div>
{% endblock content %}
