{% extends 'base.html' %}

{% block content %}

    <div class="reward-popup">
        <img src="" alt="">
        <div class="reward-notification">
            <h1>CONGRATULATIONS</h1>
            <h2>NOW PICK A REWARD!</h2>
        </div>

        <div class="reward-listing">
            <a href={{ url_for('skill.index')}} class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
            <a href="#" class='reward-link'>reward</a>
        </div>
    </div>

{% endblock content %}
