{% extends 'navbar.html' %}

{% block content %}
    <h1>{{skill}}</h1>
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
            <tr>
                <td>20/11/21</td>
                <td>30</td>
                <td>Projecteer</td>
            </tr>
        </table>
        <a href={{ url_for('skill.skill_page_graphical', skill='js')}}>Graphical View</a>
    </div>

    <div class="session-form">
        <form method="post">
            <ul>
                {% for field in form %}
                    <li>{{field.label}}</li>
                    <li>{{field}}</li>
                {% endfor %}
            </ul>
            <input type="submit" value="get xp">
        </form>
    </div>

{% endblock content %}
