{% extends 'base.html' %}

{% block content %}
    <!-- SESSIONS LISTING -->
    <div class="history box">
        <table>
            <tr>
                <th>Date</th>
                <th>XP</th>
                <th>Summary</th>
            </tr>
            {% for session in sessions %}
                <tr>
                    <td>{{session.date}}</td>
                    <td>{{session.xp}}</td>
                    <td>{{session.topic}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}
