{% extends 'base.html' %}

{% block content %}
    <h1>{{skill}}</h1>
    <div class="figure box">
        <a href={{ url_for('skill.skill_page_historic', skill='js')}}>Historic View</a>
    </div>

    <div class="session-form">
        <form method="post">
            <ul>
                {% for field in form %}
                    <li>{{field.label}}</li>
                    <li>{{field}}</li>
                {% endfor %}
            </ul>
            <input type="submit" value="get xp">
        </form>
    </div>

{% endblock content %}
